

  body {background-color: #E3FDFD;}
  hr {background-color: #E3FDFD;
    border:none;
    border-top:5px dotted silver;
    height:1px;
    width:3%;
  }
h1 {color: #61C0BF;}
h3 {color: #61C0BF;}
h2 {color: #71C9CE;}
